services:

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - prod.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-vod_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-vod_password}
      POSTGRES_DB: ${POSTGRES_DB:-vod_db}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend_net


  minio:
    image: minio/minio:latest
    restart: unless-stopped
    env_file:
      - prod.env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin123}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - backend_net  

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    env_file:
      - prod.env
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    
    command: sh -c "redis-server --requirepass $$REDIS_PASSWORD"

    networks:
      - backend_net
    
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "redis_dev_password", "ping"]
      interval: 30s
      timeout: 3s
      retries: 3



  api:
    cpu_shares: 1024
    build:
      context: ../backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - prod.env
    depends_on:
      - postgres
      - redis
      - minio
    ports:
      - "127.0.0.1:8000:8000"
    networks:
      - backend_net
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]

  caddy:
    image: caddy:2-alpine
    container_name: vod_caddy
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./caddy/Caddyfile.prod:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

    depends_on:
      - api

  worker:
    cpu_shares: 256
    build:
      context: ../backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - prod.env
    depends_on:
      - postgres
      - redis
      - minio
    networks:
      - backend_net
    command: ["celery", "-A", "app.celery_app:celery_app", "worker", "--loglevel=INFO", "--concurrency=2"]


networks:
  backend_net:
    driver: bridge

volumes:
  postgres_data:
  minio_data:
    driver: local
  caddy_data:
  caddy_config: